.container{
  margin-top: 10px;
}

div{
  margin-bottom: 10px;
}

label{
  padding-left: 10px;
}
#textchangecolor{
  color: red;
  text-align: center;
}

input{
  padding-left: 10px;
}

img{
  padding: 10px;
  position: center;
}
#TeamHeader{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}